.center {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    margin: 5px;
}

button {
    border-radius: 15px;
    width: 250px;
    margin: 5px;
}

input {
    width: 250px;
    margin: 5px;
}

p {
    margin-left: 5px;
    margin-right: 5px;
}

.top {
    width: 250px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
}

.loginButton {
    border-radius: 10px;
    width: 250px;
    margin: 5px;
    background-color: #47138b; /* Blue background */
    color: #ffffff; /* White text */
    border: none;
    cursor: pointer;
}

.loginButton:hover {
    background-color: #220b40; /* Darker blue when hovered */
}