.networkDesign {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

.center {
    width: 80%;
    max-width: 500px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    font-size: 1.2em;
    color: #333;
    margin-bottom: 2px;
}

button {
    border-radius: 10px;
    width: 100px;
    font-size: 1em;
    margin: 2px;
    padding: 5px;
    background-color: #333;
    color: #000000;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

input {
    font-size: 1em;
    padding: 10px;
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
}

p {
    font-size: 1.35em;
    color: #333;
    margin-bottom: 5px;
}

.connectButton {
    border-radius: 10px;
    width: 100px;
    font-size: 1em;
    margin: 5px;
    padding: 10px;
    background-color: #47138b; /* purple background */
    color: #ffffff; /* White text */
    border: none;
    cursor: pointer;
}

.connectButton:hover {
    background-color: #220b40; /* Darker purple when hovered */
}