.mainDiv {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    margin: 5px;
    background-color: #f0f0f0; /* Light grey background */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    padding: 20px; /* Padding around content */
    max-width: 600px; /* Maximum width */
    width: 80%; /* Full width */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mainDiv h1 {
    text-align: center; /* Centered title */
    color: #333; /* Dark grey text */
    font-family: 'Arial', sans-serif; /* Font family */
}

.mainDiv input[type="checkbox"] {
    margin-right: 10px; /* Space between checkbox and label */
}

.mainDiv button {
    background-color: #007bff; /* Blue background */
    color: white; /* White text */
    border: none; /* Remove border */
    padding: 10px 20px; /* Padding around text */
    text-align: center; /* Centered text */
    text-decoration: none; /* Remove underline */
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer; /* Cursor on hover */
    border-radius: 4px; /* Rounded corners */
}

.mainDiv button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

/* Hide the default checkbox */
.custom-checkbox input[type="checkbox"] {
    display: none;
}

/* Create a new custom checkbox */
.custom-checkbox label:before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 10px;
    border: 1px solid #000;
    border-radius: 3px;
    background-color: #fff;
}

/* Style for checked state */
.custom-checkbox input[type="checkbox"]:checked + label:before {
    background-color: #000;
}

#scanningDetails {
    color: #333; /* Text color */
    font-size: 16px; /* Text size */
    margin-top: 20px; /* Space above the paragraph */
    /* Add more styles as needed */
}