nav {
    background-color: #47138b;
    padding: 10px;
    color: white;
    display: flex;
    justify-content: space-between;
}

nav .title {
    color: #fff;
    text-decoration: none;
    font-size: 1.5em;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 10px;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    color: #ddd;
}